<div><app-header></app-header></div>
 <br><br>
<div class="container">
  <div class="row mt-5">
   
    <div class="col-2 bg-light"><app-sidebar></app-sidebar></div>
    <div class="col-10">
      <p>
      
      Google LLC is an American multinational corporation from the United States.
      It is known for creating and running one of the largest Google is a Search engine,
      Every day more than a billion people use it. Google's headquarters (known as the "Googleplex") is in Mountain View, California, part of Silicon Valley.
      The motto of Google is "Do the right thing".It is so widely known that people sometimes use the word "google" as a verb that means "to search for something on Google". Because more than half of people on the web use it, "google" has also been used to mean "to search the web".
     </p>
      <p>
        Since 2 September 2015, Google has been owned by a holding company called Alphabet Inc..
        That company has taken over some of Google's other projects,such as its driverless cars. 
        It is a public company that trades on the NASDAQ under the ticker symbols GOOG and GOOGL.
        Google's search engine can find pictures, videos, news, Usenet newsgroups, and things to buy online. 
      </p>
      <p>
        Google's search engine can find pictures, videos, news, Usenet newsgroups, and things to buy online. By June 2004, Google had 4.28 billion web pages on its database, 880 million pictures and 845 million Usenet messages — six billion things.[10] Google's American website has an Alexa rank of 1, meaning it is the most widely visited website in the world. 
      </p>
  </div>
</div>
<app-footer></app-footer>