
@{
    ViewBag.Title = "ShowCustomer";
}

<h2>ShowCustomer</h2>
<form method="get">
    <label>Customer Id:</label>
    <input type="text" name="id" value="" />
    <label>Customer Name:</label>
    <input type="text" name="pname" value="" />
    <input type="submit" name="ShowProduct" value="Show" />
</form>